* {
  padding: 0;
  margin: 0;
}

.container {
	position: relative;
	/*border: 1px solid black;*/
	width: 554px;
}

.container2 {
	/*border: 1px solid black;*/
	width: 200px;
	float: left;
}

.main-content,
.right-sidebar {
	background: -webkit-linear-gradient(top, #fff, #0099ff);
	border: solid rgba(0, 0, 0, 0.07);
	border-width: 1px;
	border-radius: 0 0 10px 10px;
	margin-top: 8px;
	padding: 10px;
}

.header {
	background: -webkit-linear-gradient(top, #fff, #0099ff);
	border: solid rgba(0, 0, 0, 0.07);
	border-width: 1px;
	border-radius: 0 0 10px 10px;
	font-size: 25px;
	text-align: center;
	height: 44px;
	min-width: 554px;
}

.header p {
	margin-left: -160px;
	margin-top: -40px;
}

.main-content {
	width: 520px;
}

#table,
#table2 {
	background-color: white;
	border: 2px solid;
	text-align: center;
	font-size: 11px;
}

#table {
	width: 498px;
}

#startRow {
	width: 33px;
}

#tableHead2 {
	display: none;
}

#table2 {
	width: 190px;
}

.left-sidebar {
	background: #fff;
}

.right-sidebar {
	position: relative;
	float: left;
	width: 520px;
}

#hide {
	display: none;
}

#Reset {
	display: none;
	float: right;
	width: 220px;
}

#Start {
	float: right;
	width: 220px;
}

#logo {	
	height: 37px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: -462px;
}

#pagination {
	margin-left: 138px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.disabled {
    pointer-events: none;
}

#returnToTop,
#returnToBottom {
    position: fixed;
    right: 20px;
    background: rgb(180, 220, 150);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    display: none;
}

#returnToTop {
	bottom: 20px;
}

#returnToBottom {
	top: 8px;
}

#returnToBottom span {
	margin-top: 33px;
}

.col11,
.col21,
.col15 {
	border-right: 2px solid;
}

#table thead tr th,
#table2 thead tr th {
	border-bottom: 2px solid;
}

.col11 {
	width: 38px;
}

@media screen and (min-width: 768px) {
	#logo {	
		height: 57px;
		margin-left: -624px;
	}
	
	.header {
		font-size: 30px;
		height: 64px;
	}
	
	.header p {
		margin-left: -245px;
		margin-top: -50px;
	}

	.main-content {
		float: left;
		margin-right: 8px;
		width: 722px;
	}

	#table {
	width: 700px;
	font-size: 14px;
	}

	.col11 {
	width: 45px;
	}

	.container2 {
	width: 375px;
	}

	#table2 {
	font-size: 14px;
	}

	#tableHead1 {
		display: none;
	}


	#tableHead2 {
		display: table-header-group;
	}

	.right-sidebar {
		width: 722px;
		float: left;
	}

	#Start,
	#Reset {
		width: 320px;
	}

	#pagination {
	margin-left: 241px;
	}
}


@media screen and (min-width: 974px) {	
	.container {
	width: 974px!important;
	}

	.container2 {
	width: 190px;
	}

	#logo {	
		height: 57px;
		margin-left: -848px;
	}
	
	.header {
		font-size: 30px;
		height: 64px;
	}
	
	.header p {
		margin-left: -448px;
	}

	#Start,
	#Reset {
		width: 190px;
	}

	.right-sidebar {
		width: 212px;
		float: left;
	}
}




@media screen and (min-width: 1194px) {	
	#logo {	
		margin-left: -629px;
	}
	
	.header p {
		margin-left: -245px;
	}

	.container {
	width: 1194px!important;
	}

	.left-sidebar {
		height: 1px;
		width: 212px;
		float: left;
	}

	.main-content {
	margin-left: 8px;
	}
}