* {
  padding: 0;
  margin: 0;
}

#header {
	position: relative;
	background-color: #f7f7f9;
	border: solid rgba(0, 0, 0, 0.07);
	border-width: 1px;
	border-radius: 5px;
	font-size: 25px;
	height: 44px;
}

#headerInnerContainer {
	position: relative;
	margin: auto;
	width: 520px;
	border: 1px solid #f7f7f9;
}

#logo {	
	position: relative;
	height: 37px;
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 10px;
	float: left;
}

#header p {
	margin-top: 5px;
}

#generalContainer {
	position: relative;
	width: 554px;
}

#mainContent,
#rightSidebar {
	position: relative;
	background-color: #f7f7f9;
	border: solid rgba(0, 0, 0, 0.07);
	border-width: 1px;
	border-radius: 5px;
	margin-top: 8px;
	padding: 10px;
}

#mainContent {
	width: 520px;
}

#left-sidebar {
	background: #fff;
}

#rightSidebar {
	float: left;
	width: 520px;
}

#initialInfo {
	text-align: center;
	width: 498px;
}

#table,
#table2,
#table2v2 {
	background-color: white;
	text-align: center;
	font-size: 11px;
}

#table {
	width: 498px;
}

#table th,
#table2 th {
		text-align: center;
}

#form1,
#form2 {
    position: relative;
    height: 32px;
    margin-top: 3px;
}

#form1 p,
#form2 p {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

#numberCombinationsInPage {
	width: 70px;
	height: 30px;
	font-size: 14px;
}

#startRow {
	width: 45px;
	font-size: 14px;
}

#startRowOuterContainer {
	position: relative;
	float: left;
	width: 75px;
}

#numberCombinationsInPageOverlay,
#startRowOverlay {
	height: 30px;
	position: absolute;
    top: 0;
    z-index: 2
}

#numberCombinationsInPageOverlay {
	width: 70px;
}

#startRowOverlay {
	width: 73px;
	left: 115px;
}

#errorMessage {
	position: absolute;
	top: 0px;
	left: 250px;
}

#tableHead2 {
	display: none;
}


#table2 {
	width: 190px;
	display: none;
}

#table2v2 {
	width: 498px;
}

#Reset {
	display: none;
	width: 220px;
	margin-left: 150px;

}

#Start {
	width: 220px;
	margin-left: 150px;
}

#pagination {
	margin-left: 24px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#pagination li a:focus,
#pagination li a:hover,
#pagination li span:focus,
#pagination li span:hover {
    z-index: 3;
    color: #fff;
    background-color: #5bc0de;
    border-color: #ddd;
}

.disabled {
    pointer-events: none;
}

#returnToTop,
#returnToBottom {
    position: fixed;
    right: 22px;
    text-align: center;
    display: none;
}

#returnToTopBottomBuckground {
    position: fixed;
    right: 5px;
    bottom: 5px;
    background: rgb(180, 220, 150);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: none;
}

#returnToTop {
	bottom: 33px;
}

#returnToBottom {
	bottom: 4px;
}

#table th:first-child {
	width: 38px;
}

@media screen and (min-width: 768px) {
	#header {
		font-size: 30px;
		height: 64px;
	}

	#headerInnerContainer {
		width: 722px;
	}

	#generalContainer {
		width: 752px;
	}
	
	#logo {	
		height: 57px;
	}

	#header p {
		margin-top: 10px;
	}

	#mainContent {
		float: left;
		margin-right: 8px;
		width: 722px;		
	}

	#table {
	width: 700px;
	font-size: 14px;
	}

	#table th:first-child {
		width: 38px;
	}

	#table2v2 {
	font-size: 14px;
	}

	#tableHead1 {
		display: none;
	}


	#tableHead2 {
		display: table-header-group;
	}

	#rightSidebar {
		width: 722px;
		float: left;
	}

	#initialInfo {
		width: 700px;
	}

	#table2v2 {
		width: 700px;
	}

	#Start,
	#Reset {
		margin-left: 251px;
	}

	#pagination {
		margin-left: 123px;
	}
}

@media screen and (min-width: 974px) {	
	body #generalContainer {
		width: 974px;
	}

	#logo {	
		height: 57px;
		margin-top: 2px;
	}
	
	#header {
		font-size: 30px;
		height: 64px;
	}

	#headerInnerContainer {
		width: 942px;
	}
	
	#Start,
	#Reset {
		width: 190px;
	}

	#rightSidebar {
		width: 212px;
		float: left;
	}

	#initialInfo {
		width: 190px;
	}

	#table2v2 {
		display: none;
	}

	#table2 {
		display: table;
		font-size: 14px;
	}

	#Start,
	#Reset {
		margin-left: 0px;
	}

}

@media screen and (min-width: 1194px) {	
	#headerInnerContainer {
		width: 722px;
	}

	body #generalContainer {
		width: 1194px;
	}

	#left-sidebar {
		height: 1px;
		width: 212px;
		float: left;
	}

	#mainContent {
		margin-left: 8px;
	}
}