.bg-1 { 
	text-align: center;
	background-color: #156c9c;
	color: #ffffff;
}

.bg-2 { 
	background-color: #122c9c;
	color: #ffffff;
}

#clearButton{
	display: none;
}

#container1{
	display: none;
}

#container2{
	display: none;
}

#column1 {
	border-right: 3px solid
}

#column2 {
	border-right: 3px solid
}
